fundamental Data types

In [1]:
# Numeric - int , float , complex

# int - 1 , 2, 3, 
# float - 1.2 , 3.6 , 4.6
# complex - 4 + 6j

# Boolean - True / False

# string - text / char
# anything under  '' , "" , """ """

In [2]:
# Dervied data types - combination of fundamental data types

# list

# tuple

# set

# dic

In [8]:
# list - anything inside a Square bracket is a list

a = [ "string" , 1 ]
type(a)

list

In [10]:
# tuple - anything inside a round bracket is called as tuple

a = ("string" , 1 )
type(a)

tuple

In [12]:
# set - anything inside a curly bracket { } is called set

a = { "string" , 1 }
type(a)

set

In [13]:
# dic - combination of key value pair

# a = { <key> : <value>}

a = {'abc':1}
type(a)

dict

In [20]:
a = { 'abc':1 , 'xyz':3 , 'afsan':6}
print(type(a))
print(len(a))

<class 'dict'>
3

In [16]:
a = { 1,2,3,4.2,5,7}
type(a)

set

In [21]:
a = ['afsan' , 1,'learnbay' , 2,'xyz' , 3,'Barcelona']
type(a)

list

In [23]:
a = ( 1.2 , 4*4 , 5*8 , 11*2)
print(type(a))

<class 'tuple'>

In [24]:
a = {'name': 'Afsaan' , 'rollno' : 1}
type(a)
print(a)

{'name': 'Afsaan', 'rollno': 1}

In [20]:
a = { 1,2,3,4.2,5,7}
len(a)

6

In [21]:
a = ['afsan' , 'learnbay' , 'xyz' , 'Barcelona']
len(a)

4

In [2]:
a = {'name': 'Afsaan' , 'rollno' : 1}
len(a)

2

In [ ]:
# type - gives the data type of the variable
# len - length of the the varibale except numerical and bool
# print - print something on the screen

In [25]:
a = "1.2"
len(a)

3

In [27]:
a = ['afsanasfasdfasdfsadfsadfsadfsadfsdafsdafsadfsda']
len(a)

47

In [ ]:
Python casting / type casting  --- converting one data type to another data type

In [ ]:
int ---> float
float ---> int

In [28]:
# method 1
a  = 1
print(float(a))

1.0

In [29]:
# method 2
a  = float(1)
print(a)

1.0

In [25]:
a = 1.2
print(int(a))

1

In [29]:
a=int(1.2)
print(a)

1

In [31]:
a = 1
a

1

In [37]:
# Integers

x = int(1)
x

1

In [38]:
x = int(2.8)
x

2

In [30]:
x = int(3.2)
x

3

In [45]:
# float

x = float(1)
x

1.0

In [46]:
x = float(2.8)
x

2.8

In [47]:
x = float("3")
x

3.0

In [48]:
x = float('5.6')
x

5.6

In [50]:
# string

x = str(3)
type(x)

str

In [51]:
x= str(1.2)
x

'1.2'

In [31]:
a=1

x= 3.2+a
x

4.2

In [53]:
# operators

In [82]:
# Arithmetic operators ==>   +  , - , * , square , division, remainder

a = 1 +2  # addition
print(a)

b = 1 - 10 # subtraction
print(b)

c = 5 * 10  # multiplication
print(c)

d = 2**10  # ** power
print(d)

e = 10/5 # division(floating)
print(e)

f = 10%4 # remainder
print(f)

g  = 10//4 # division(int)
print(g)

3
-9
50
1024
2.0
2
2

In [69]:
a =6
b = 10
c = a**b
print(c)

60466176

In [62]:
f = 10//2
print(f)

5

In [110]:
# Relational operators - > , < , >= , <= , == , != 

# gives the output in the form of true or false

x = 10
y = 12

# Output: x > y is False
print('x > y is',x>y)

# Output: x < y is True
print('x < y is',x<y)

# Output: x == y is False
print('x == y is',x==y)

# Output: x != y is True
print('x != y is',x!=y)

# Output: x >= y is False
print('x >= y is',x>=y)

# Output: x <= y is True
print('x <= y is',x<=y)

x > y is False
x < y is True
x == y is False
x != y is True
x >= y is False
x <= y is True

In [ ]:
Equality ===> == , !=

In [92]:
1 != 1

False

In [94]:
# differnce between = and ==
a= 1
b = 2
a == b

False

In [111]:
# logical operators - and , or and not

x = True
y = False

print('x and y is',x and y)

print('x or y is',x or y)

print('not x is',not x)

x and y is False
x or y is True
not x is False

In [96]:
a = False
b = False

c = a and b
print(c)

False

In [97]:
a = True
b = True

c = a and b
print(c)

True

In [98]:
# or
a = True
b = True

c = a or b
print(c)

True

In [99]:
a = False
b = True

c = a or b
print(c)

True

In [100]:
a = False
b = False

c = a or b
print(c)

False

In [101]:
# not

a = True
c = not a
print(c)

False

In [102]:
a = False
c = not a
print(c)

True

In [ ]:
arithmatic
logical
equality
Relational

In [104]:
1 == 12

False

In [109]:
4 != 3

True

In [108]:
1 < 3

True

In [4]:
x=10
y=4
print(x&y)

0

In [16]:
a=input("Please type a number")
b=(int(a))
print(type(b))

KeyboardInterrupt: Interrupted by user

Please type a number10.5

a=10
b=20
c=30
print(a,b,c)

In [12]:
#Anything within square bracket is list
#Anything within round bracket is tuple
#Anything within curly bracket is set
#Combination of key-value pair is dic
a=["abc",1]
b=('abc',1)
c={'abc',1,1}
d={'abc':1,'abc':2}
   

print(type(a))
print(type(b))
print(type(c))
print(type(d))

print(len(a))
print(len(b))
print(len(c))
print(len(d))

print(d)

<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>
2
2
2
1
{'abc': 2}

In [43]:
#converting one data type to another data type

#int to float
b=1
print(float(b))
#int to float
b=float(1)
print(b)

#float to int
a=1.2
print(int(a))
a=int(3.2)
print(a)

#float to str
a=str(3.2)
print(a)
print(type(a))
a=str(3.2)
a

1.0
1.0
1
3
3.2
<class 'str'>

'3.2'

In [65]:
#Arithmetic operators +,-,*,/,**,%,//
#Relational operators >,<,<=,<=,==, != [output is in the form of true/false]
#Logical operators and, or, not

a=1
b=3

print('a > b is', a>b) #false 
print('a < b is', a<b) # true
print('a >= b is', a>=b) #false
print('a <= b is', a<=b) #true
print('a != b is', a!=b) #true
print('a == b is', a==b) #false

a > b is False
a < b is True
a >= b is False
a <= b is True
a != b is True
a == b is False

In [76]:
a=True
b=False

print('a and b is',a and b) #false

a=True
b=True

print('a and b is',a and b) #True

a=False
b=False

print('a and b is',a and b) #false

a=True
b=False

print('a or b is',a or b) #true

a=True
b=True

print('a or b is',a or b) #true

a=False
b=False

print('a or b is',a or b) #false

a=True
b= not a

print('a not b is', b) #false

a=False
b= not a

print('a not b is', b) #true

a and b is False
a and b is True
a and b is False
a or b is True
a or b is True
a or b is False
a not b is False
a not b is True